<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiyang.xiyang">

    <!--网络权限问题-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--用于获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!--8.0安装需要的权限-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--读写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--读取手机信息-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!--9.0权限-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Android Q后台定位权限-->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <!-- 硬件加速对X5视频播放非常重要，建议开启 -->
    <uses-permission android:name="android.permission.GET_TASKS" />


    <!--录音权限-->
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->


    <!-- Camera features - recommended -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <!-- 振动 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--Android 10 停用过滤视图，使用旧版存储模式
    android:requestLegacyExternalStorage="true"
    -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowIsTranslucent="false">
        <activity
            android:name=".activity.HelloActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"><!--//全屏-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.GuideActivity"
            android:label="引导页"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".activity.MainActivity"
            android:label="主页"
            android:theme="@style/DefaultCityPickerTheme">
            <!--点击通知默认打开-->
            <intent-filter>
                <action android:name="${applicationId}.default.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:label="登录" />

        <!--商户-->
        <activity
            android:name=".activity.AddShopActivity"
            android:label="添加商户" />
        <activity
            android:name=".activity.MyShopListActivity"
            android:label="我的商户" />
        <activity
            android:name=".activity.ShopDetailActivity"
            android:label="商户详情" />
        <activity
            android:name=".activity.CancelShopActivity"
            android:label="取消商户-添加取消合同" />

        <activity
            android:name=".activity.AddContractActivity"
            android:label="添加合同" />
        <activity
            android:name=".activity.MyContractActivity"
            android:label="我的合同" />
        <activity
            android:name=".activity.ContractDetailActivity"
            android:label="合同详情" />
        <activity
            android:name=".activity.TransferShopActivity"
            android:label="划转商户-申请商户划转" />
        <activity
            android:name=".activity.RenewContractActivity"
            android:label="续签合同" />
        <activity
            android:name=".activity.ApproveContractActivity"
            android:label="审核合同" />
        <!--管理-->
        <activity
            android:name=".activity.DispatchActivity"
            android:label="分派" />
        <activity
            android:name=".activity.AssignActivity"
            android:label="指派" />
        <activity
            android:name=".activity.AdjustmentActivity"
            android:label="调整" />
        <activity
            android:name=".activity.MyCityActivity"
            android:label="我的城市" />
        <!--门店-->
        <activity
            android:name=".activity.AddStoreActivity"
            android:label="添加门店" />
        <activity
            android:name=".activity.SelectVisitActivity"
            android:label="选择拜访" />
        <activity
            android:name=".activity.AddVisitActivity"
            android:label="拜访" />
        <activity
            android:name=".activity.MyVisitListActivity"
            android:label="我的拜访列表" />
        <activity
            android:name=".activity.VisitDetailActivity"
            android:label="拜访详情" />
        <activity
            android:name=".activity.ChangeContractActivity"
            android:label="调价合同" />
        <activity
            android:name=".activity.TransferStoreActivity"
            android:label="划转门店-申请门店划转" />
        <activity
            android:name=".activity.MyStoreListActivity"
            android:label="我的门店" />
        <activity
            android:name=".activity.StoreDetailActivity"
            android:label="门店详情" />
        <activity
            android:name=".activity.MoveDeviceActivity"
            android:label="设备移位" />
        <activity
            android:name=".activity.StopStoreActivity"
            android:label="关闭门店" />
        <activity
            android:name=".activity.ChangeStoreAccountActivity"
            android:label="修改门店账号" />
        <activity
            android:name=".activity.ChangeStoreActivity"
            android:label="修改门店信息" />
        <activity
            android:name=".activity.RoomNoManagementActivity"
            android:label="房号管理" />
        <activity
            android:name=".activity.AddRoomNoManagementActivity"
            android:label="添加房号管理" />
        <activity
            android:name=".activity.StaffManagementActivity"
            android:label="员工管理" />
        <activity
            android:name=".activity.AddStaffActivity"
            android:label="添加员工" />
        <activity
            android:name=".activity.StaffDetailActivity"
            android:label="员工详情" />
        <!--设备-->
        <activity
            android:name=".activity.SelectDeviceActivity"
            android:label="选择设备" />
        <activity
            android:name=".activity.AddDeviceActivity"
            android:label="申领设备" />
        <activity
            android:name=".activity.AddDeviceDetailActivity"
            android:label="申领设备详情" />
        <activity
            android:name=".activity.InstallDeviceActivity"
            android:label="安装设备" />
        <activity
            android:name=".activity.ChangeTieDeviceActivity"
            android:label="换绑设备" />
        <activity
            android:name=".activity.DebugDeviceActivity"
            android:label="调试设备" />
        <activity
            android:name=".activity.AddWorkListActivity"
            android:label="创建工单" />
        <activity
            android:name=".activity.DeviceAddressActivity"
            android:label="设备定位" />
        <activity
            android:name=".activity.MyDeviceListActivity"
            android:label="我的设备" />
        <activity
            android:name=".activity.DeviceDetailActivity"
            android:label="设备详情" />
        <!--我的-->
        <activity
            android:name=".activity.MyWorkListActivity"
            android:label="我的工单" />
        <activity
            android:name=".activity.WorkListDetailActivity"
            android:label="工单详情" />
        <activity
            android:name=".activity.MyIncomeActivity"
            android:label="我的收益" />
        <activity
            android:name=".activity.ShareProfitListActivity"
            android:label="分润记录" />
        <activity
            android:name=".activity.TakeCashActivity"
            android:label="提现" />
        <activity
            android:name=".activity.MyTakeCashActivity"
            android:label="提现记录" />
        <activity
            android:name=".activity.TakeCashDetailActivity"
            android:label="提现详情" />
        <activity
            android:name=".activity.MyProfileActivity"
            android:label="资料管理" />
        <activity
            android:name=".activity.SetUpActivity"
            android:label="设置中心" />
        <activity
            android:name=".activity.HelpCenterActivity"
            android:label="帮助中心" />
        <activity
            android:name=".activity.OnlineServiceActivity"
            android:label="在线客服" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="关于我们" />
        <activity
            android:name=".activity.BankCardSettingActivity"
            android:label="银行卡设置" />
        <activity
            android:name=".activity.SetTransactionPasswordActivity"
            android:label="交易密码" />
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:label="登录密码" />
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:label="登录密码" />

        <!--全面屏适配-->
        <!--<meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="812" />-->

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <!--查看mob推送日志-->
        <meta-data
            android:name="com.mob.mobpush.debugLevel"
            android:value="4" />
        <!--配置华为-->
        <receiver android:name="com.mob.pushsdk.plugins.huawei.PushHaiWeiRevicer">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION" />
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY" />
            </intent-filter>
        </receiver>

        <!--7.0限制-私有目录被限制访问-->
        <!--exported:要求必须为false，为true则会报安全异常。
        grantUriPermissions:true，表示授予 URI 临时访问权限。-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <!--9.0-->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!--保活-->
        <service android:name=".utils.TraceServiceImpl" />
    </application>

</manifest>